<%= form_for [game, team, pokemon] do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
        <% pokemon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.label :is_alive %>
    <%= form.check_box :is_alive %>
  </div>

  <div>
    <%= form.label :is_boxed %>
    <%= form.check_box :is_boxed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

