<!DOCTYPE html>
<html>
  <head>
    <title>SoulLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="contact-info">
      <p>Problems? Email me at <a href="mailto:rmctiernan@protonmail.com">rmctiernan@protonmail.com</a></p>
      <p>Source code available at <a href="https://github.com/RMcTn/Pokemon-soul-link-tracker">Github</a></p>
    </div>
  </body>
</html>
